{% extends 'default/base.html.twig' %}
{% block body %}
    <div class="services__header">
    	<h1 class="cafe-name"> Teishutsu Cafe </h1>
    	<h1 class="cafe-jap"> コーヒー提出 </h1>
    </div>

    <div class="services__menu">
    	<div class="services__title"> What do you need today Master ? </div>
    	<div class="menu__content"> We are so happy that you decided to come visit us ! <br>We want to make you happy and MOE, so we have prepared a few things for you, and you will be the only one to decide how to spend your day with us at Teishutsu Café. With us, you’ll have the most wonderful and heartwarming time with your most favorite maids Master ! <br>So, what do you need today Master ?</div>
    	<div class="menu__encres">
    		<div>Food & Drinks</div>
    		<div>Karaoke</div>
    		<div>MOE</div>
    		<div>Games & Photos</div>
    		<div>Live Show</div>
    	</div>
    </div>

    <h1 class="services__encres"> Food & Drinks </h1>

	<div class="services__fd">
		<div class="fd__header">
			<div class="yummy"> Yummy !</div>
			<div class="fd__header--content"> Here at Teishutsu Café, we offer the most beautiful range of drinks and food for you ! Come have a look.</div>
			<div class="fb__list"> <i class="fa fa-list-ul" aria-hidden="true" style="color:#fefefe"></i> Show the Menu </div>
		</div>

		<img class="fd__menu" src="imgs/menu.png" />
	</div>

	<h1 class="services__encres"> Karaoke </h1>

	<div class="services__karaoke">
		<div class="services__menu">
			<div class="services__title"> Karaoke Time ! </div>
	    	<div class="menu__content"> Our maids can’t wait to sing along with you to their favorite songs.  <br>You can order in advance which songs you want us to sing.</div>
	    </div>

		<div class="karaoke__header">
			<div class="karaoke__title"> Karaoke !</div>
			<div class="karaoke__header--content"> Choose your maid teammate and compete for the best Karaoke singer title !</div>
		</div>

		<div class="karaoke__events-container">
			<div class="karaoke__event">
				<div class="event__title"> Karaoke Team Competition Schedule </div>
				<div class="event__content">
					<div class="event_day">
						<div class="day"> Monday </div>
						<div class="event"> No competition </div>
					</div>
					<div class="event_day">
						<div class="day"> Tuesday </div>
						<div class="event"> 10am</div>
					</div>
					<div class="event_day">
						<div class="day"> Wednesday </div>
						<div class="event"> 10am </div>
					</div>
					<div class="event_day">
						<div class="day"> Thursday</div>
						<div class="event"> 10am </div>
					</div>
					<div class="event_day">
						<div class="day"> Friday</div>
						<div class="event"> 4pm </div>
					</div>
					<div class="event_day">
						<div class="day"> Saturday </div>
						<div class="event"> 4pm </div>
					</div>
					<div class="event_day">
						<div class="day"> Sunday </div>
						<div class="event"> 4pm </div>
					</div>
				</div>
			</div>

			<div class="karaoke__event">
				<div class="event__title"> Leaderboards </div>
				<div class="event__content">
					
				</div>
			</div>
		</div>
	</div>

	<h1 class="services__encres"> MOE Magic </h1>

	<div class="services__moe">
		<div class="services__menu">
			<div class="services__title"> How MOE are you ? </div>
	    	<div class="menu__content"> What does MOE mean ? It’s everything about happiness, love, care and fun. We want to make you MOE, join us ! Our unending happiness and care for your well-being starts when you enter our place, your home. Follow our rythm and you will leave us smiling like never before.</div>
	    </div>

		<div class="moe__header">
			<div class="fun"> Fun !</div>
			<div class="love"> Love-filling </div>
			<div class="joy"> Joy </div>
		</div>

		<div class="services__menu">
			<div class="services__title"> Do you know about MOE magic ? </div>
	    	<div class="menu__content"> It’s okay, we can teach you ! <br>Our maids know all about fun and joy,let’s see what they think of MOE Magic.</div>
	    </div>

	    <div class="moe__maids">
	    	<div class="maid__container">
	    		<div class="maid__profil-pict"> <img src="imgs/maid1.png" alt="maid_profilPict"> </div>
	    		<div class="maid__name"> Ichi </div>
	    		<div class="maid__content"> MOE Magic is all about truthfullness of feelings </div>
	    	</div>

	    	<div class="maid__container">
	    		<div class="maid__profil-pict"> <img src="imgs/maid2.png" alt="maid_profilPict"> </div>
	    		<div class="maid__name"> Kurosaki </div>
	    		<div class="maid__content"> I want to make people happy ! </div>
	    	</div>

	    	<div class="maid__container">
	    		<div class="maid__profil-pict"> <img src="imgs/maid3.png" alt="maid_profilPict"> </div>
	    		<div class="maid__name"> Ten </div>
	    		<div class="maid__content"> Fun games and delicious cakes ! </div>
	    	</div>
	    </div>
	</div>

	<h1 class="services__encres"> Games & Photos </h1>

	<div class="services__gp">
		<div class="services__menu">
			<div class="services__title"> Want to play a game ? </div>
	    	<div class="menu__content"> We all love games here at Teishutsu Café ! Do you ? <br>We have a large range of board games for you to choose from so you can have fun with us. Don’t worry, if you don’t know the rules, we’re here to teach you. </div>
	    </div>

	    <div class="gp__header">
			<div class="gp__title"> Memories </div>
			<div class="gp__list"> <i class="fa fa-list-ul" aria-hidden="true" style="color:#fefefe"></i> Show games </div>
		</div>

		<div class="karaoke__events-container">
			<div class="karaoke__event gp__event">
				<div class="event__title gp__title"> The board games </div>
				<div class="event__content gp__content">
					<div class="game"> Clue </div>
					<div class="game"> Guess Who ? </div>
					<div class="game"> Pictionnary </div>
					<div class="game"> Taboo </div>
					<div class="game"> Mastermind </div>
					<div class="game"> Mancala </div>
				</div>
			</div>

			<div class="karaoke__event gp__game">
				<div class="game__title"> Play with us !</div>
				<div class="game__content"> Choose whatever game you like in this list and play with your favorite maid. It only costs 300 Yens for a game.</div>
			</div>
		</div>

	    <div class="services__menu">
			<div class="services__title"> Don’t forget your photo before you go  </div>
	    	<div class="menu__content"> Never leave Teishutsu Café without your photo ! We always sign photos for you to remember the wonderful time you spent with us at Teishutsu Café. Of course, you decide which maid will accompany you on this picture. We hope it will bring you happiness when you look at it in the future. </div>
	    </div>
	</div>

	<h1 class="services__encres"> Live Shows </h1>

	<div class="services__ls">
		<div class="services__menu">
			<div class="services__title"> We would love to sing and dance for you ! </div>
	    	<div class="menu__content"> What we love the most is to sing and dance. Everyday we practice and have fun with you ! You can order a live show if you like, and with the maid you prefer. And if you’re lucky and super MOE, we might even offer you a show. </div>
	    </div>

	    <div class="ls__header">
			<div class="ls__title"> It’s time to dance ! </div>
			<div class="ls__top"> <i class="fa fa-sort-asc" aria-hidden="true" style="color:#fefefe"></i> Back to top </div>
		</div>

	    
	</div>

{% endblock %}