{% extends 'default/base.html.twig' %}
{% block body %}
    <div class="services__header">
    	<h1 class="cafe-name"> Teishutsu Cafe </h1>
    	<h1 class="cafe-jap"> コーヒー提出 </h1>
    </div>

    <div class="services__menu">
    	<div class="services__title"> What do you need today Master ? </div>
    	<div class="menu__content"> We are so happy that you decided to come visit us ! <br>We want to make you happy and MOE, so we have prepared a few things for you, and you will be the only one to decide how to spend your day with us at Teishutsu Café. With us, you’ll have the most wonderful and heartwarming time with your most favorite maids Master ! <br>So, what do you need today Master ?</div>
    	<div class="menu__encres">
    		<div>Food & Drinks</div>
    		<div>Karaoke</div>
    		<div>MOE</div>
    		<div>Games & Photos</div>
    		<div>Live Show</div>
    	</div>
    </div>

    <h1 class="services__encres"> Food @ Drinks </h1>
{% endblock %}