<div class="panel panel-primary">
    <div class="panel-heading">
        <h1>Timeslot edit</h1>
    </div>
    <div class="panel-body">
        <form class="timeslot-edit-form" action="{{ path('back-office_timeslot_edit', { 'id': timeslot_to_edit.id }) }}" method="post">
            <div class="form-errors"></div>
            {{ form_widget(edit_form) }}
            <input type="submit" value="Edit" class="btn btn-lg btn-success"/>
        </form>
        {{ form_start(delete_form) }}
        <input type="submit" value="Delete" class="btn btn-lg btn-danger">
        {{ form_end(delete_form) }}
    </div>
</div>
