.maid__header {
  @include bg-img('../imgs/our-maids.png');
  min-height: 490px;
  background-size: 50%;
  background-position: 50% 10%;
  width: 100%;
  background-color: #CAEDEF;
  h1 {line-height:490px;}
}

.maid__block{
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  &:before {
    content: '';
    position: absolute;
    top: 569px;
    width: 70%;
    height: 70px;
    @include bg-img('../imgs/maid-rubbon.png');
  }

}

.maid__bloc--content{
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding-bottom: 50px;
   .maid__name{
     .maid__text{
       p{
         font-family: LilyScriptOne;
         color: $br-text;
         font-size: 24px;
         padding-bottom: 40px;
         position: relative;
         &:after {
           content: '';
           position: absolute;
           width: 30px;
           height: 20px;
           left: 0;
           top:20px;
           margin: 5px auto;
           @include bg-img('../imgs/shape.png');
         }
       }
      }
     margin: auto;
     margin-left: 30px;
     p{
       color:#fc4f5c;
       font-size: 68px;
       text-align: left;
       position: relative;
     }
     .maid__text-japonais{
       font-size: 35px;
     }
   }
 }

 .maid__container--icon{
   display: flex;
   flex-wrap: wrap;
   width: 80%;
   margin: auto;
   margin: 50px auto;
   .maid__content--icon{
     margin: 40px auto;
     display: flex;
     p{
       font-family: LilyScriptOne;
       color: $br-text;
       font-size: 24px;
       padding-bottom: 40px;
       position: relative;
       &:after {
         content: '';
         position: absolute;
         width: 30px;
         height: 20px;
         left: 0;
         top:20px;
         margin: 5px auto;
         @include bg-img('../imgs/shape.png');
       }
     }
   }

 }