{% extends 'default/base.html.twig' %}

{% block body %}
    {% for restaurant in restaurants %}
        <div class="restaurant">
            <p>{{ restaurant.name }}</p>
            <img src="{{ asset(restaurant.profilePicture) }}" alt="">
        </div>
    {% endfor %}

{% endblock %}