{% extends 'back-office/base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1>Restaurant creation</h1>
        </div>
        <div class="panel-body">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Create" class="btn btn-lg btn-success" />
            {{ form_end(form) }}

            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{{ path('_maid_index') }}"><button type="button" class="btn btn-lg btn-primary">Back to the list</button></a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
